<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inet.code.mapper.RoleMapper">

    <!--通过权限获取权限的实体类-->
    <select id="getRoleName" resultType="com.inet.code.entity.Role">
        SELECT
            role_uuid AS roleUuid,
            role_name AS roleName,
            role_creation AS roleCreation,
            role_modification AS roleModification
        FROM
            tbl_role
        WHERE
            role_name = #{roleName};
    </select>
</mapper>
